header {
  min-height: 100vh;
  height: auto;
  width: auto;
  background-image: url('../../assets/istanbul-168774_1280.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.box-home a {
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
  background-color: white;
  transition: background-color 1s;
}

.box-home a:hover {
  background-color: slateblue;
}

.homeContainer h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.carousel-item img {
  height: 600px;
}

.order-item {
  box-shadow: 2px 3px 5px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s;
  margin-top: 20px;
}

.order-item i {
  font-size: 30px;
}

.order-item p {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

.order-item:hover {
  background-color: slateblue;
}
