.homeContainer {
  min-height: 100vh;
  height: auto;
  width: auto;
  display: flex;
}

.rightHome {
  flex-basis: 50%;
  background: url("../../assets/background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.leftHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  background: grey;
  text-align: center;
  color: white;
}

.leftHome .h1Home {
  font-size: 60px;
}

.leftHome .homeButtons {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-inline: block;
  margin-bottom: 20px;
}

.leftHome .homeButtons .btn {
  width: 100px;
  background: white;
  margin: 10px;
}
