.aboutContainer {
  min-height: 100vh;
  width: 100%;
  height: auto;
  background: #000000;
  color: white;
  display: flex;
  flex-direction: column;
}

.h1About {
  margin: 40px;
}

.imgAbout {
  display: block;
  max-width: 100%;
}

.pAbout {
  max-width: 100%;
  margin-inline: auto;
  margin: 30px;
}

.picturesAbout {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
